{% extends 'Lesson4LearningBundle::index.html.twig' %}

{% block title %} Вывод шаблона {% endblock %}

{% block content %}
    <p>Вывод переданных в шаблон переменных:</p>

    var1 = {{ var1 }} <br/>
    var2 = {{ var2 }} <br/>
    var3 = {{ var2 }} <br/>
{% endblock %}