{% extends 'Lesson4LearningBundle::index.html.twig' %}

{% block title %} Вывод шаблона c GET параметром{% endblock %}

{% block content %}
    <p>Вывод шаблона с GET параметром:</p>

    GET variable is  {{ get1 }}
{% endblock %}