{% extends 'Lesson4LearningBundle::index.html.twig' %}

{% block title %} Вывод шаблона {% endblock %}

{% block content %}
    <p>Вывод переданных в шаблон переменных:</p>

    variable1 = {{ variable1 }} <br/>
    variable2 = {{ variable2 }} <br/>
    variable3 = {{ variable2 }} <br/>
{% endblock %}