{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "This is MyHello template and this my first experience in Twig "%}

    {% block content %}
        <h1>Hello my name is {{ name }}!</h1>
        <p> variable age = {{ age }}</p>
        <p> variable target = {{ target }}</p>
    {% endblock %}

    {% set code = code(_self) %}